@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none;
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
}

body {
  position: relative;
  padding: 3rem !important;
  padding-top: 2rem !important;

  @media (max-width: 478px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  &::after {
    content: "";
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 130%;
    top: -15%;
    left: -92%;
    background-color: #3499dd;
    transform: translate(15vh, -28vh) rotate(18deg);
    box-shadow: 15px 0px 53px 1px #000;
  }

  &::before {
    content: "";
    z-index: 4;
    position: fixed;
    width: 135%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #f2c50d;
    transform: translate(-17vh, 84vh) rotate(8deg);
    box-shadow: 15px 0 53px 1px #000;
  }
}

header {
  &::after {
    content: "";
    z-index: -1;
    position: fixed;
    width: 100vh;
    height: 83vh;
    top: 0;
    right: 0;
    background-color: #ea4c3d;
    transform: translate(48vh, -58vh) rotate(30deg);
    box-shadow: 15px 0 53px 1px #000;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  direction: rtl;
}

main,
.no-scrollbar {
  scrollbar-width: none;
}

.modal-inner {
  backdrop-filter: blur(15px);
  height: 100%;

  @media (max-width:768px){
      display: grid;
      place-content: center;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.79);

    @media (max-width: 768px) {
      height: 110%;
      top: -50px;
    }
  }
}

.dark-blur {
  @media (max-width: 1536px) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.79);
      z-index: 9;
      border-radius: 20px;
    }
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1b1d3a --card: #ffffff;
    --card-foreground: #1b1d3a;
    --popover: #ffffff;
    --popover-foreground: #1b1d3a;
    --primary: #1c1d3f;
    --primary-foreground: #fafafa;
    --secondary: #e7e9f5;
    --secondary-foreground: #1c1d3f;
    --muted: #e7e9f5;
    --muted-foreground: #6c6e8c;
    --accent: #e7e9f5;
    --accent-foreground: #1c1d3f;
    --destructive: #ff6f6f;
    --destructive-foreground: #fafafa;
    --border: #e6e8f0;
    --input: #e6e8f0;
    --ring: #1b1d3a;
    --chart-1: #e8a29e;
    --chart-2: #3b7d6e;
    --chart-3: #2c4c57;
    --chart-4: #d2c55d;
    --chart-5: #d8b94a;
  }

  .dark {
    --background: #1b1d3a;
    --card-foreground: #fafafa;
    --popover: #1b1d3a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #1c1d3f;
    --secondary: #2d2f4d;
    --secondary-foreground: #fafafa;
    --muted: #2d2f4d;
    --muted-foreground: #a0a3c2;
    --accent: #2d2f4d;
    --accent-foreground: #fafafa;
    --destructive: #a03d3d;
    --destructive-foreground: #fafafa;
    --border: #2d2f4d;
    --input: #2d2f4d;
    --ring: #d4d6e8;
    --chart-1: #0095ff;
    --chart-2: #4db6a8;
    --chart-3: #ffbf00;
    --chart-4: #a06d9e;
    --chart-5: #d7006b;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
